<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MabelCardPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MabelCardPrinter2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MabelCardPrinter.Properties.Settings>
            <setting name="PrinterID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RFIDEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterLocation" serializeAs="String">
                <value>SMC Office</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value>JHG876LDYUw24kjhHq7E8asi8</value>
            </setting>
            <setting name="apiBaseUrl" serializeAs="String">
                <value>http://cardhandler.jamsandbox.com/api.php</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="Orientation" serializeAs="String">
                <value>Portrait</value>
            </setting>
            <setting name="MagstripeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterType" serializeAs="String">
                <value>Generic</value>
            </setting>
            <setting name="DontPrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </MabelCardPrinter.Properties.Settings>
        <MabelCardPrinter2.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>m.reynolds</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>iamagoat</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>CSRFM</value>
            </setting>
            <setting name="PrinterID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RFIDEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>SMC Printer</value>
            </setting>
            <setting name="PrinterLocation" serializeAs="String">
                <value>SMC Office</value>
            </setting>
        </MabelCardPrinter2.Properties.Settings>
    </userSettings>
</configuration>